aria-expanded button {
    display: none;
}

aria-expanded li {
    padding: 0px;
}

aria-expanded ul {
    column-gap: 40px;
    flex-direction: row;
    height: 64px;
    justify-content: center;
    padding: 0px;
    position: relative;
    transition: 0ms;
    visibility: visible;
    width: 100vw;
}