responsive-nav button {
    display: none;
}

responsive-nav li {
    padding: 0px;
}

responsive-nav ul {
    flex-direction: row;
    height: 64px;
    justify-content: center;
    padding: 0px;
    position: relative;
    transition: 0ms;
    visibility: visible;
    width: 100vw;
}

@media (max-width: 991px) {
    responsive-nav ul {
        flex-direction: column;
        height: 120px
    }
}